# ignore the virtual environment
.venv/

# all cache directories
__pycache__/

# large directories of pdf/xml files
data/arxiv/pdf/
data/acl/tei.xml/
data/arxiv/tei.xml/

# large metadata files
acl-publication-info.74k.v3.full-sections-partial-topic-labels.pkl
arxiv-metadata-oai-snapshot.json

*.pkl
*.zip